In [76]:
import random
def dummy_record():
    cursor2 = conn.cursor()
    for i in range(500):
        sql_2 = '''INSERT INTO EMPLOYEES(
            id, fname, lname) 
            VALUES (''' + str(i+1) + ''', 'HHH', 'HH');'''
        cursor2.execute(sql_2)

In [77]:
dummy_record()