In [1]:
import numpy as np
import pandas as pd

In [10]:
def delpunct(s):
    punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
    ret = s
    for char in ret:
        if char in punctuations:
            ret = ret.replace(char,"")
    index = 0
    while index < len(ret):
        if ret[index] == " ":
            i = index + 1
            while i < len(ret) and ret[i] == " ":
                ret = ret[:i] + ret[i + 1:]
        index += 1
    return ret

In [13]:
s = "Hello in 36-650, & other MSP courses."
delpunct(s)

'Hello in 36650 other MSP courses'