In [78]:
def top_10():
    cursor3 = conn.cursor()
    sql_3 = '''SELECT *
        FROM EMPLOYEES
        LIMIT 10;
    '''
    cursor3.execute(sql_3)
    for row in cursor3:
        print (row)

In [79]:
top_10()

(1, 'hhh', 'hh')
(2, 'hhh', 'hh')
(3, 'hhh', 'hh')
(4, 'hhh', 'hh')
(5, 'hhh', 'hh')
(6, 'hhh', 'hh')
(7, 'hhh', 'hh')
(8, 'hhh', 'hh')
(9, 'hhh', 'hh')
(10, 'hhh', 'hh')